/* .search {
    width: 50%;
    margin: 0 auto
} */

.ct-chart {
    stroke: white;
    color: white;
    fill: yellow;
}

.graph {
    background-color: rgba(255, 255, 255, 0.5);
}

.load-more {
    width: 96%;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 3px;
}

.search {
    margin: 0 auto;
}

.divider {
    border-bottom: 1px dashed teal;
}

.sort-buttons {
    display: inline
}

.search-button {
    margin-top: 20px;
}

form {
    margin-top: 30px;
    margin-bottom: 30px
}

.stats{
    background-color: rgba(59, 59, 59, 0.548);
    padding: 10px 10px 100px 10px;
    margin: 20px 20px 50px 20px;
   
}

.totals{
    color: white;
}

.banner{
    color: white;
}
.chart {
    margin: 0 auto;
    height: 250px;
}
.col-pad
{
    padding-top: 0;
    padding-bottom: 0;
}

.input-field {
    margin-top: 10px;
    margin-bottom: 10px;
}

.zipcode-field {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 5px;
    text-align: center;
}

.zipcode-label {
    width: 80%;
    padding-left: 5px;
}

#zipcode {
    width: 80%;
}

.or {
    display: grid;
    grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
    align-items: center;
    text-align: center;
    grid-gap: 10px;
    color: rgb(12, 12, 82);
  }
  
  .or:before,
  .or:after {
    content: '';
    border-top: 2px solid;
  }

.login-container {
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .search,
    .login-container {
        width: 40%;
    }
}

@media only screen and (max-width: 768px) {
    .search,
    .stats,
    .login-container {
        width: 90%
    }
}